<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Title</title>
</head>
<body>
<h1>学生注册</h1>
<form action="{% url 'reg' %}" method="post">
    <p>
        <span>姓名</span>
        <input type="text" name="user">
    </p>
    <p>
        <span>年龄</span>
        <input type="text" name="age">
    </p>
    <p>
        <span>爱好</span>
        <input type="checkbox" name="favorate" value="1">篮球
        <input type="checkbox" name="favorate" value="2">足球
        <input type="checkbox" name="favorate" value="3">乒乓球
    </p>
    <p>
        <input type="submit">提交
    </p>
</form>
</body>
</html>