<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>这里是登录页</div>
    <button type="button" onclick="test()"> 测试</button>
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script>
         function test() {
             $.ajax({
                 type:'POST',
                 url:'/test/',
                 success:function (data) {
                     console.log(data)
                 }
             })
         }
    </script>
</body>
</html>